<a href="https://colab.research.google.com/github/svdcvt/math_python_hse/blob/master/fall-2021/lectures/lecture02_if.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Занятие №2: логические операции, условная конструкция if-else.

---

[МИНИКОНТЕСТ](https://contest.yandex.ru/contest/28677/)
---
---
https://replit.com - можете сразу воспроизводить код и решать задачи используя онлайн интерпретатор Питона ("Create Repl" -> "Select Langauge - Python")

На предыдущем занятии мы узнали о таких типах данных как целое число (int), вещественно число (float) и строка (string). Сегодня мы познакомимся с еще одним ключевым типом данных в Python, а именно *логическим типом данных*.

## Тип данных bool [DOCS](https://docs.python.org/3/library/stdtypes.html#boolean-values)

В данном типе существуют всего два значения $-$ **`True` (истина) и `False` (ложь).**

In [1]:
print(True)
print(False)

True
False

Как видите, интерпретатор Питона сразу подсвечивает эти ключевые слова другим цветом. Не нужно писать кавычек, а также важно, что эти слова пишутся с большой буквы.

In [2]:
print(type(True), type('True'), sep=', ')

<class 'bool'>, <class 'str'>

In [3]:
print(true)
# компьютер сразу думает, что это просто имя переменной
# и ругается, потому что мы-то такой переменной не определяли

NameError: ignored

Эти значения компьютер также рассматривает как числа **1 и 0** соответственно.

In [4]:
print(int(True), int(False), float(True), float(False), sep=', ')

1, 0, 1.0, 0.0

В том числе арифметические операции для `True` и `False` определены так, будто они числа `1` и `0`.

In [5]:
print(True * True, False ** True, False / True, sep=', ')

1, 0, 0.0

In [6]:
print(True + False + True, -5 * True, sep=', ')

2, -5

Как и у любого типа данных, определена функция преобразования в логический тип данных: функция `bool()`. Отображение у нее такое:
* нулевые и пустые значения -> `False`
* ненулевые и непустые значения -> `True`

In [7]:
print(bool(1), bool(20), bool('something'), sep=', ')
print(bool(0), bool(''), bool(), sep=', ')

True, True, True
False, False, False

## Логические выражения

Вы наверняка уже прошли курс по математической логике. Булевые значения ЛОЖЬ и ИСТИНА являются результатом вычисления простых и сложных *логических выражений*, которые строятся с помощью *логических операций*. 

### Логические операторы сравнения [DOCS](https://docs.python.org/3/reference/expressions.html#comparisons)

Операторы печатаются так же просто как арифметические операторы - достаточно поставить необходимый знак между двумя сравнимыми объектами.

Операция | Знак
--- | ---
Значения равняются |	`==`
Значения не равняются |	`!=`
Больше | `>`
Меньше | `<`	
Больше или равно | `>=`	
Меньше или равно | `<=`

In [8]:
print('Is "abc" == "abc"?\t', 'abc' == 'abc')     # равняется
print('Is 1 == 10?\t\t', 1 == 10)
print('Is "cat" != "dog"?\t', 'cat' != 'dog')     # не равняется
print('Is 1 != "10?\t\t', 1 != 10)

Is "abc" == "abc"?	 True
Is 1 == 10?		 False
Is "cat" != "dog"?	 True
Is 1 != "10?		 True

In [9]:
print('Is 3 > 3?\t', 3 > 3)         # больше
print('Is 3 >= 3?\t', 3 >= 3)       # больше или равно
print('Is 4 < 5?\t', 4 < 5)         # меньше
print('Is 4 <= 5?\t', 4 <= 5)       # меньше или равно

Is 3 > 3?	 False
Is 3 >= 3?	 True
Is 4 < 5?	 True
Is 4 <= 5?	 True

Решите задачу: https://contest.yandex.ru/contest/28677/problems/A/

Операторы сравнения выполняются слева направо, у них одинаковый приоритет, и их можно группировать скобками:

In [10]:
print((42 != 42) == 0)
# 1) (42 != 42)   - ложь, поэтому это простое высказывание есть False ->
# 2) (False == 0) - правда, поэтому это просто высказывание есть True

True

Если опустить скобки, то выполнение сложного логического высказывания происходит таким образом (принцип работает для цепочки любой длины):

`X оператор1 Y оператор2 Z` эквивалентно `X оператор1 Y` **И** `Y оператор2 Z`

Например:

In [11]:
x = 42
print(3.14 < x <= 57)

True

In [12]:
print(42.0 == x == 42.0 > 57)
# это эквивалентно:
print(42.0 == x and x == 42.0 and 42.0 > 57) # True and True and False -> False

False
False

### Логические оперции И, ИЛИ, НЕ [DOCS](https://docs.python.org/3/reference/expressions.html#boolean-operations)

В примере выше мы как раз каснулись оператора **И**. В Питоне заготовлены специальные слова для этих операторов-"союзов", чтобы строить сложные логические высказывания.

**И** обозначается командой `and`.

Если рассматривать булевые значения как числа 0 и 1, то **И** это операция *умножения* (так проще запомнить).

In [13]:
# таблица истинности для логического умножения
print(True and True,
      True and False,
      False and True,
      False and False, sep=',\n')

True,
False,
False,
False

**ИЛИ** обозначается командой `or`

Если рассматривать булевые значения как числа 0 и 1, то **ИЛИ** это операция *сложения*.

In [14]:
# таблица истинности для логического сложения
print(True or True,
      True or False,
      False or True,
      False or False, sep=',\n')

True,
True,
True,
False

**НЕ** обозначается командой `not`

Если рассматривать булевые значения как числа 0 и 1, то **ИЛИ** это операция *унарного минуса*.

In [15]:
# логическая операция инверсии
print(not True, not False, sep=', ')

False, True

**Важно:**
* у этих логических операторов приоритет ниже, чем у операторов сравнения;
* между собой приоритет выстроен так (от большего к меньшему):
`not`, `and`, `or`;
* внутри одного приоритета операции выполняются слева направо.

In [16]:
print(1 > 2 or 1 < 2 and 4 > 3 or not 4 < 5)

True

Разберем сложное л. высказывание:

```
1 > 2 or 1 < 2 and 4 > 3 or not 4 < 5
```

1. `1 > 2` -> False
2. `1 < 2` -> True
3. `4 > 3` -> True 
4. `4 < 5` -> True 

все простые л. высказывания посчитаны, дальше оперируем ими, чтобы выполнить сложное л. высказывание

5. `not 4 < 5` -> `not True` -> False
6. `True and True` -> True (1 < 2 and 4 > 3)
7. `False or True` -> True (1 > 2 or True)
8. `True or True` -> True (True or 4 < 5)

Итого: True

То есть как-то так:

```
{ [ (1 > 2) or ( (1 < 2) and (4 > 3) ) ] or (not (4 < 5) ) }
```

In [17]:
print(( ( (1 > 2) or ( (1 < 2) and (4 > 3) ) ) or (not (4 < 5) ) ))

True

Решите задачи:
* https://contest.yandex.ru/contest/28677/problems/B/
* https://contest.yandex.ru/contest/28677/problems/С/
* https://contest.yandex.ru/contest/28677/problems/D/

#### Отступление в детали

Быть польностью с вами честными, Питон делает немного умнее, когда исполняет команды `and` и `or`.


Из таблиц истинности можно заметить, что:
- если мы исполняем оператор **И**, и первым аргументом (слева от И) стоит  False, то выражение обязательно будет False; если True, то все определяется значением второго аргумента (справа от И)
- если мы исполняем оператор **ИЛИ**, и первым аргументом (слева от ИЛИ) стоит  True, то выражение обязательно будет True; если False, то все определяется значением второго аргумента (справа от ИЛИ)

Поэтому вопрос: а зачем делать какие-то лишние операции в таких случаях, если можно сразу сказать ответ, без проверки второго аргумента (справа от оператора)? Вот Питон этих лишних операций и не делает!

Итак, выполнение выражения `X and Y`:
1. проверяем `X`
2. если `X` ложно, его значение возвращается и выполнение выражения заканчивается, иначе...
3. ...возвращаем значение `Y`.

Итак, выполнение выражения `X or Y`:
1. проверяем `X`
2. если `X` истинно, его значение возвращается и выполнение выражения заканчивается, иначе...
3. ...возвращаем значение `Y`.

И между прочим, значения X и Y необязательно логические! Вот пример:

In [18]:
print('notempty' and 0) 
# вернет 0, а не False (последним проверило его)
print('notempty' and 'alsonotempty') 
# вернет alsonotempty потому что последним проверило его
print(0 and 'notempty') 
# вернет пустоту, потому что дальше не проверяло

0
alsonotempty
0

In [19]:
print(1 or 'some')
# вернет 1, а не True (последним проверило его)
print('notempty' or 0)
# вернет notempty потому что последним проверило его
print(0 or 1)
# вернет 1, а не True (последним проверило его)

1
notempty
1

**Usage case**

Ваш пользователь вводит с клавиатуры значение `x`. Оно будет либо пустым (х_1), либо непустым (х_2). Вы хотите, чтобы далее ваша переменная `y`, вне зависимости от того, что ввёл пользователь, была какой-то непустой. Проблема решает таким кодом: `y = x or 'cat'`. Далее код, имитирующий описанную ситуацию.

In [20]:
x_1 = ''
x_2 = 'notempty'
y_1 = x_1 or 'cat'
print(y_1)
y_2 = x_2 or 'cat'
print(y_2)

cat
notempty

### Оператор is

Оператор `is` и `is not` тестируют объекты (ссылки, а не их значения) на идентичность: `x is y` верно тогда и только тогда, когда `x` и `y` это один итот же объект (в плане ссылок-значений).

In [21]:
a = -1000
b = a 
print(a is b) 
# две ссылки (имени) к одному объекты: целое число со значением -1000
print(a == b)
# значение а равняется значению б? -1000 == -1000?

True
True

In [22]:
a = -1000
b = -1000
print(a is b) 
# две ссылки (имени) к двум объектам: целые числа со значением -1000
print(a == b)
# значение а равняется значению б? -1000 == -1000?

False
True



Идентификатор (ссылка) объекта определяется функцией `id()`. Для коротких строк и чисел от -5 до 256, объекты с одинаковым значениям хранятся в одном и том же месте, чтобы не создавать много лишних объектов (поэтому id одинаковый). Такой странный диапазон выбран на основе наиболее популярных значений. 

Может убедиться:

In [23]:
x = 256
y = 256
print(x is y, x == y, id(x), id(y), sep=', ')

True, True, 94826004007392, 94826004007392

In [24]:
a = -5
b = -5
print(a is b, a == b, id(a), id(b), sep=', ')

True, True, 94826003999040, 94826003999040

In [25]:
s1 = 'hello'
s2 = 'hello'
print(s1 is s2, s1 == s2, id(s2), id(s2), sep=', ')

True, True, 140538573326256, 140538573326256

In [26]:
x = 257
y = 257
print(x is y, x == y, id(x), id(y), sep=', ')

False, True, 140538497502832, 140538497503088

In [27]:
a = -6
b = -6
print(a is b, a == b, id(a), id(b), sep=', ')

False, True, 140538497659216, 140538497659280

In [28]:
s1 = 'hello world'
s2 = 'hello world'
print(s1 is s2, s1 == s2, id(s2), id(s2), sep=', ')

False, True, 140538497634992, 140538497634992

### Объект `None`

Существует также объект `None`, который должен существовать как и в реальном мире (хотя вопрос философский). **Он обозначает ничего**. Он как объект имеет тип `NoneType`, являясь единственным его значением:

In [29]:
print(type(None), None, sep=', ')

<class 'NoneType'>, None

Если перевести `None` в булевый тип, то он всегда будет `False`, поэтому можно его использовать в условных конструкциях и пр.:

In [30]:
print(bool(None))

False

В решении задач `None` может использоваться для подчеркивания "ничего".

## Условная конструкция

До этого строчки кода исполнялись просто в том порядке в котором указаны (линейно). Однако, в задачах одних линейных сюжетов мало. Поэтому придумали **условные конструкции**. Они дают нам возможность решать задачи нелийнейно, в завимости от условия, задаваемого *логическим высказыванием*. Вот пример:

In [31]:
number = int(input('Введите число ---> '))
if number > 0:
    print('Введено положительное число')
elif number < 0:
    print('Введено отрицательно число')
else:
    print('Введен ноль!')
print('---')

Введите число ---> 42
Введено положительное число
---

То есть конструкция такая:

```python
if (Условие_1):
    Блок инструкций 1
elif (Условие_2):
    Блок инструкций 2
else:
    Блок инструкций ИНАЧЕ
# КОНЕЦ
```

Обратите внимание на **отступы в 4 пробела** (они могут быть и больше, главное кратность 4), а также на **двоеточие** после условия.

1. Программа проверяет условия по очереди сверху вниз.
2. Если одно из условий выполнилось, то 
    * выполняет блок инструкций соответственно условию
    * выходит из условной конструкции (там где `#КОНЕЦ`)
3. Если ни одно из условий не выполнилось, то:
    *  если есть `else`, то выполняется блок инструкций ИНАЧЕ
    * выходит из условной конструкции.

Обратите внимание, что в программе ниже выполняются и первое, и второе условие, однако, исполняется блок инструкций первого условия, и дальше конструкция заканчивается:

In [32]:
number = int(input('Введите число ---> '))
if number > 0:
    print('Введено положительное число')
elif number < 10:
    print('Введено число до 10')
else:
    print('Я никогда не выполнюсь(')
print('---')

Введите число ---> 5
Введено положительное число
---

Решите задачу: https://contest.yandex.ru/contest/28677/problems/E/

### Зоопарк условных конструкций

**Без elif**

Условий `elif` может не быть.
Например:

In [33]:
number = int(input('Введите число ---> '))

if number != 0:
    print('Введен не ноль!')
else:
    print('Введен ноль!')
print('---')

Введите число ---> 6
Введен не ноль!
---

**Много elif**

Условий `elif` может быть несколько.
Например:

In [34]:
number = int(input('Введите число ---> '))

if number == 0:
    print('Введен ноль!')
elif number == 1:
    print('Введена единица!')
elif number == 2:
    print('Введена двойка!')
elif number == 7:
    print('Введена семерка!')
elif number == 42:
    print('Введен ответ на все вопросы...')
else:
    print('Введено какое-то число.. Хм.')
print('---')

Введите число ---> 42
Введен ответ на все вопросы...
---

**Без else**

Условия `else` тоже может не быть.

In [35]:
number = int(input('Введите число ---> '))

if number == 0:
    print('Введен ноль!')
print('---')

Введите число ---> 1
---

**Много elif, без else**

In [37]:
number = int(input('Введите число ---> '))

if number == 0:
    print('Введен ноль!')
elif number == 1:
    print('Введена единица!')
elif number == 2:
    print('Введена двойка!')
print('---')

Введите число ---> 1
Введена единица!
---

**Блок инструкций и условие на одной строке**

Если в блоке инструкций всего одна строка, то не будет ошибкой написать код так (однако, мы крайне не советуем так делать в силу плозой читабельности кода):

In [38]:
number = int(input('Введите число ---> '))

if number == 0: print('Введен ноль!')
else: print('Введен не ноль!')
print('---')

Введите число ---> 0
Введен ноль!
---

**Конструкция одна в другой**

Такие конструкции могут быть вложены друг в друга:

In [39]:
number = int(input('Введите число ---> '))

if number > 0:
    if number < 100: # слева стоит 4 пробела!
        print('Введено небольшое положительное число')
    else:
        print('Введено большое положительное число')
else:
    print('Введено неположительное число')
print('---')

Введите число ---> 42
Введено небольшое положительное число
---

**Сложные условия (or, and)**

В качестве условий могут стоять любые логические выражения (как простые, так и сложные):

In [40]:
number = int(input('Введите число ---> '))

if (number % 2 == 0) and (number < 0):
    print('Введено отрицательно четное число!')
else:
    print('Введено неотрицательное или нечетное число!')
print('---')

Введите число ---> 5
Введено неотрицательное или нечетное число!
---

**Условие с помощью числа**

Кроме того, в качестве условия можно использовать "абсолютно простое логическое выражение" из одного объекта. 

Например, **числа** (0 ложно, не 0 истинно) можно использовать как условия:

In [41]:
number = int(input('Введите число ---> '))

if (number % 2): # остаток от деления на два равен 0 (четное) или 1 (нечетное)
    print('Введено нечетное число!')
else:
    print('Введено четное число!')
print('---')

Введите число ---> 5
Введено нечетное число!
---

**Условие в одну строку**

Да-да, питонисты любят краткость. Есть специальная однострочная конструкция if-else:

In [42]:
x = 100 if input() == 'y' else 2
print('Answer:', x)

y
Answer: 100

In [43]:
print('YES' if x // 70 == 1 else 'NO')

YES

То есть конструкция такого вида:

```python
if [УСЛОВИЕ]:
    x = [ЧТО-ТО]
else:
    x = [ДРУГОЕ]
```

превращается в такое: 

```python
x = [ЧТО-ТО] if [УСЛОВИЕ] else [ДРУГОЕ]
```

**Бездельный блок: pass**

В Питоне есть команда, которая позволяет ничего не делать:

In [44]:
if 1 > 0:
    pass
else:
    print(':)')
print('---')

---

In [45]:
x = int(input('Введите число ---> '))
if x % 3 == 1:
    print('Остаток 1')
elif x % 3 == 2:
    pass
else:
    print('Остаток 0')
print('---')

Введите число ---> 5
---

Решите задачи:
* https://contest.yandex.ru/contest/28677/problems/F/
* https://contest.yandex.ru/contest/28677/problems/G/